@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-text: #777;
    --color-bg: #F2F2FE;
    --font: 'Raleway', sans-serif;
}

body {
    font-family: var(--font);
    position: relative;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}